body{
	/*background-color: #F0F0F0;*/
}

.project-title{
	color: #C45400;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid #C45400;
}

.project-version{
	margin-left: 10px;
	margin-top: 5px;
	font-size: 15px;
}

.project-info{
	text-align: justify;
}

.module-listing{
	margin-left: 20px;
}
.module-listing-head{
	color: #187DBB;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid #187DBB;
}

.index-module{
	margin-left: 10px;
};

.index-module-name{
	border: none;
}

.index-module-info{
	color: gray;
}

.index-module-name a {
	text-decoration: none;
	color: #C45400;
}
.index-module-name a:hover{
	color: orange;
}


.module{
	/*div*/
	padding: 15px;
	text-align:  justify;
}


.module-name {
/*label*/
	color: #C45400;
	font-weight: bold;
	padding-bottom: 2px;
	border-bottom: 1px solid #C45400;
}

.module-info {
	/*p*/
	border-spacing: 10px;
	padding-bottom: 10px;
	text-align:  justify;
	font-style: italic;
}

.classes{

}

.class-head{
	color: #C45100;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
	border-bottom: 1px solid #C45400;
}

.class{
	margin-left: 15px;
}

.class-name{
	color: #187DBB;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
	border-bottom: 1px solid #187DBB;
}

.class-info{
	border-bottom: 1px solid;
	width: 100%;
	color: gray;
	font-style: italic;
}



.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  font-style: italic;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
  margin-left: 5px;
}
.badge:empty {
  display: none;
}


.methods{
	margin-left: 15px;
}

.method-head{
	color: #3C3C3C;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 18px;
	border-bottom: 1px solid #3C3C3C;
}

.method{
	margin-left: 15px;
}


.method-name{
	color: #187DBB;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
}


.method-info{
	/*method-info*/
	font-size: 15px;
	color: #404040;
	font-style: italic;
	padding-left: 15px;
}

.method-name .suffix{
	color: gray;
	font-size: 10px;
	padding-left: 10px;
}

.functions{
	margin-top: 20px;
	border-width: 1px;
}

.function-head{
	color: #C45100;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
	border-bottom: 1px solid #C45400;
}


.function {
	margin-left: 15px;
}

.function-name{
	color: #187DBB;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 20px;
}

.function-info{
/*label*/
	/*method-info*/
	font-size: 15px;
	color: #404040;
	font-style: italic;
	padding-left: 15px;
}



.args{
	margin-left: 25px;
}

.args-head{
	color: #404040;
	font-weight: bold;
	padding-bottom: 2px;
	font-size: 15px;
	border-bottom: 1px solid #404040;
}


.arg{
	border:1px  ;
	margin-top: -3px;
}

div.arg {
	margin-left: 15px;
}

.arg-name{
/*span*/
	color: maroon;
	font-style: italic;	
}

.arg-info{
	font-style: italic;
	color: #404040;
	font-weight: 100; ;
	font-size: 15px;
	margin-top: -20px;
	margin-left: 5px;
}

.arg-default{

}



