body{
	background-color: #F0F0F0;
}
.module{
	/*div*/
	border: 1px solid #A0A0A0;
	border-radius: 10px;
	padding: 15px;
	min-width: 30em;
	max-width: 65em;
	background-color: #FFF;
	color: #000;
	margin:0 auto;
}

.module-name {
/*label*/
	color: blue;
	font-style: italic;
	font-weight: bold;
}

.module-info {
	/*p*/
	border-width: 1px;
	border-bottom-style: solid;
	border-spacing: 10px;
	padding-bottom: 10px;
	font-style: italic;
}

.classes{
	border-width: 1px;
	/*padding:4px;*/
	border-style: solid;;
}

.class-head{
	background-color: gray;
	color: white;
	min-width: 99%;
	margin-top: 0px;
	padding:3px;
	font-style: italic;
}

.class{
	margin-left: 15px;
	width:80%;
}

.class-name{
	font-weight: bold;
}

.class-info{
	border-bottom: 1px solid;
	width: 100%;
	color: gray;
	font-style: italic;
}

.methods{
	margin-left: 10px;
}

.method-head{
	
}

.method{

}

.method-name{

}

.method-info{
	
}

.functions{
	margin-top: 20px;
	border-width: 1px;
	/*padding:4px;*/
	border-style: solid;;
}

.function-head{
	background-color: gray;
	color: white;
	min-width: 99%;
	margin-top: 0px;
	padding:3px;
	font-style: italic;
}


.function {
	/*div*/
	border-width: 1px;
	/*padding: 10px;*/
	/*border: 2px groove;*/
	width: 95%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 10px;
}

.function-name{
	/*label*/
	background-color: green;
	color: white;
	margin: 0 auto;
	margin-bottom: 10px;
	margin-top: 0px;
	font-size: 20px;
	font-style: italic;
	position: inline;
	border:1px solid;
	padding:10px;
}

.function-info{
/*label*/
	font-style: italic;
	color: rgb(200,200,200);
	font-weight: 100; ;
	font-size: 15px;
	margin-top: -2px;
	margin-left: 5px;
}

.args{
	margin-left: 20px;
	width: 95%;
	margin: 0 auto;
}

.arg-head{
	border-bottom: 1px solid;
}


.arg{
	border:1px  ;
	padding: 5px;
}

.arg-name{
/*span*/
	color: maroon;
	font-style: italic;	
}

.arg-info{

}

.arg-default{

}



